@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto", serif;
}
:root {
  --chefchaouen-blue: #448affff;
  --green-blue: #1565c0ff;
  --persian-green: #009688ff;
  --yellow-green: #8bc34aff;
  --amber: #ffc107ff;
  --orange-peel: #ff9800ff;
  --vermilion: #f44336ff;
  --amaranth-purple: #ad1457ff;
  --greylight: #777777ff;
  --mywhite: #fcfdfeff;
  --darkgrey: #333333;
  --hvr-chefchaouen-blue: #4b8cfd;
  --hvr-green-blue: #1d6ac2;
  --hvr-persian-green: #099486;
  --hvr-yellow-green: #8fc057;
  --hvr-amber: #f8c11d;
  --hvr-orange-peel: #fca31f;
  --hvr-vermilion: #f55347;
  --hvr-amaranth-purple: #a82960;
}
body {
  margin: 0;
  padding: 1vh;
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}
.innercontainer {
  display: flex;
}
#logoutbtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
#leftnvabar {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  height: calc(100vh - 70px);
  background: white;
}
#dashboardlogo {
  max-width: 300px;
  width: 100%;
  aspect-ratio: 3 / 2;

  background: var(--amaranth-purple);
}
#navul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navli {
  padding: 15px;
  transition: all 150ms ease-in;
}
.navli:hover {
  scale: 1.1;
  translate: 20px;
}
.navli > a {
  display: flex;
  gap: 15px;
  text-decoration: none;
  color: var(--greylight);
}
.active {
  color: var(--darkgrey) !important;
  font: 600 1rem "roboto";
}
#active svg {
  fill: var(--amaranth-purple);
}
.navli {
}
.navliframe {
  width: 25px;
}
.main {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 10px;
  background-color: var(--greylight);
}
.main > div {
  display: none; /* Hide all sections initially */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#mydashboard {
  display: block !important; /* Ensure the first section is visible */
  opacity: 1;
}
.dashboard {
  display: flex;
  gap: 40px;
  padding: 50px;
}
.accountdetails,
.accountaction {
  width: 50%;
  border-radius: 20px;

  height: calc(100vh - 250px);
}
.accountdetails {
  padding: 35px;
  background-color: white;
}
.accountframe {
  width: 100%;
  background: #099486;
  /* display: grid; */
  aspect-ratio: 2.2 /1;
  display: flex;
}
#logeduserprofile {
  place-self: center;
  width: 100%;
}
.accountheading {
  display: flex;
}
.accountbody {
  display: flex;
  flex-direction: column;
}
.userdetals {
}
.username {
  display: flex;
}
.email {
}
.accountaction {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.accountslist {
  max-height: 30vh;
  background-color: white;
  border-radius: 20px;
  padding: 35px;
}
.accountheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
#accounts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accdetails {
  width: 70%;
}
.accdetails > * {
  margin: 4px;
  font-size: 1rem;
  font-weight: 400;
}
.accdetails > *:first-child {
  font-weight: 600;
}
.accountbtn {
  height: 40px;
  border-radius: 50px;
  border: none;
  color: var(--mywhite);
  padding: 5px 20px;
}
.activebtn {
  background: var(--persian-green);
}
.inactivebtn {
  background-color: var(--vermilion);
}

.billslist {
  max-height: 30vh;
  background-color: white;
  border-radius: 20px;
  padding: 35px;
}
.billsheading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.billsheading > button {
  height: 35px;
}
#bills {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.billbody {
  display: flex;
  gap: 10px;
  align-items: center;
}
.billstatus {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.billactive {
  background: var(--yellow-green);
}
.billpanding {
  background: var(--amaranth-purple);
}
.billinactive {
  background: var(--greylight);
}
.billtitle {
}
.billbtn {
  padding: 6px 12px;
  border: none;
  border-radius: 50px;
  color: var(--mywhite);
  min-width: 80px;
  max-width: 100px;
}
