@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto", serif;
}
:root {
  --chefchaouen-blue: #448affff;
  --green-blue: #1565c0ff;
  --persian-green: #009688ff;
  --yellow-green: #8bc34aff;
  --amber: #ffc107ff;
  --orange-peel: #ff9800ff;
  --vermilion: #f44336ff;
  --amaranth-purple: #ad1457ff;
  --greylight: #777777ff;
  --mywhite: #fcfdfeff;
  --darkgrey: #333333;
  --hvr-chefchaouen-blue: #4b8cfd;
  --hvr-green-blue: #1d6ac2;
  --hvr-persian-green: #099486;
  --hvr-yellow-green: #8fc057;
  --hvr-amber: #f8c11d;
  --hvr-orange-peel: #fca31f;
  --hvr-vermilion: #f55347;
  --hvr-amaranth-purple: #a82960;
}
body {
  margin: 0;
  padding: 35px;
  box-sizing: border-box;
}
.container {
  width: 95%;
  margin: auto;
}
.innercontainer {
  display: flex;
}
#logoutbtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
#leftnvabar {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 300px;
  height: calc(100vh - 70px);
  background: white;
}
#dashboardlogo {
  max-width: 300px;
  width: 100%;
  aspect-ratio: 3 / 2;

  background: var(--amaranth-purple);
}
#navul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.navli {
  padding: 15px;
  transition: all 150ms ease-in;
}
.navli:hover {
  scale: 1.1;
  translate: 20px;
}
.navli > a {
  display: flex;
  gap: 15px;
  text-decoration: none;
  color: var(--greylight);
}
.active {
  color: var(--darkgrey) !important;
  font: 600 1rem "roboto";
}
#active svg {
  fill: var(--amaranth-purple);
}
.navli {
}
.navliframe {
  width: 25px;
}
.main {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 10px;
  background-color: var(--greylight);
}
.main > div {
  display: none; /* Hide all sections initially */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#mydashboard {
  display: block !important; /* Ensure the first section is visible */
  opacity: 1;
}
