@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto", serif;
}
:root {
  --chefchaouen-blue: #448affff;
  --green-blue: #1565c0ff;
  --persian-green: #009688ff;
  --yellow-green: #8bc34aff;
  --amber: #ffc107ff;
  --orange-peel: #ff9800ff;
  --vermilion: #f44336ff;
  --amaranth-purple: #ad1457ff;
  --greylight: #777777ff;
  --mywhite: #fcfdfeff;

  --hvr-chefchaouen-blue: #4b8cfd;
  --hvr-green-blue: #1d6ac2;
  --hvr-persian-green: #099486;
  --hvr-yellow-green: #8fc057;
  --hvr-amber: #f8c11d;
  --hvr-orange-peel: #fca31f;
  --hvr-vermilion: #f55347;
  --hvr-amaranth-purple: #a82960;
}
body {
  margin: 0;
  background: linear-gradient(
    90deg,
    var(--hvr-chefchaouen-blue) 0%,
    var(--hvr-yellow-green) 100%
  );

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: bodygradient 15s ease infinite;
}
@keyframes bodygradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  width: 95%;
  margin: auto;
}
.formcontainer {
  min-height: 100dvh;
  width: 50%;
  margin: auto;
  display: grid;
  place-items: center;
}
.loginform {
  box-shadow: inset 2px 2px 23px 11px #ffffff22;
  padding: 35px;
  backdrop-filter: blur(15px);
  display: flex;
  border: 1px solid var(--mywhite);
  border-radius: 22px;
  background: #ffffff11;

  flex-direction: column;
  align-items: center;
}
.loginform > h1 {
  color: var(--mywhite);
}
.loginform > h1 > a {
  color: inherit;
}
.formrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 600px;
  margin: 15px;
}
.formrow > label {
  font: 500 18px roboto;
  color: var(--mywhite);
}
.formrow > input {
  border: none;
  border-bottom: 1px solid var(--orange-peel);
  text-align: center;
  font: 500 19px "roboto";
  outline: none;
  background: transparent;
  color: var(--mywhite);
}
.formrow > input::placeholder {
  color: var(--mywhite);
  opacity: 0.6;
}
.formbutons {
  display: flex;
  width: 100%;
  gap: 10px;
}
.btn {
  border-radius: 5px;

  width: 50%;
  padding: 15px;
  border: none;
  color: var(--mywhite);
}
.loginbtn {
  box-shadow: inset 2px 2px 12px 11px #076d63;
  background: var(--persian-green);
  color: var(--mywhite);
  transition: all 250ms;
}
.loginbtn:hover {
  background: var(--hvr-persian-green);
  box-shadow: inset 0px 2px 6px 6px #0a7469;
  scale: 1.05;
}
.resetbtn {
  transition: all 250ms;
  background: var(--amaranth-purple);
  box-shadow: inset 2px 2px 12px 11px #71192f;
}
.resetbtn:hover {
  box-shadow: inset 0px 2px 6px 6px #771e34;
  scale: 1.05;
}
.welcomemodal {
  display: block;
  position: absolute;
  top: 30px;
  right: 30px;
}
.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: none;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: start;
  background: #edfbd8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
 cursor: progress;
  animation: alertboxslidein 230ms ease-out;
}

.success__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.success__icon path {
  fill: #84d65a;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #2b641e;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #2b641e;
}
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  /* display: flex;0 */
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #fce8db;
  border-radius: 8px;
  border: 1px solid #ef665b;
  box-shadow: 0px 0px 5px -3px #111;
  top: 0px;
  position: relative;
  animation: alertboxslidein 230ms ease-out;
}
@keyframes alertboxslidein {
  from {
    top: 20px;
  }
  to {
    top: 0px;
  }
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #ef665b;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #71192f;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #71192f;
}
